root = true

[*]
indent_size = 4
tab_width = 4

# Windows files
[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.{xml, yml, yaml}]
indent_size = 2

# Intellij Config
[{*.cjs,*.js}]
ij_javascript_spaces_within_imports = false
ij_javascript_use_double_quotes = false
